#addItemModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#addItemModal .modal-content {
  background-color: white;
  margin: 10% auto;
  padding: calc(var(--spacing-unit) * 4);
  border: 1px solid #888;
  width: 90%;
  max-width: 800px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

#addItemForm {
  width: 100%;
}

.modal-content label {
  margin-bottom: var(--spacing-unit);
  font-weight: bold;
}

.modal-content #flex {
  display: flex;
  gap: calc(var(--spacing-unit) * 2);
}

.modal-content #flex div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 49%;
}

#flex input,
#flex textarea,
#flex select {
  width: 100%;
  padding: calc(var(--spacing-unit) * 1);
  margin-bottom: calc(var(--spacing-unit) * 2);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  box-shadow: var(--box-shadow);
  height: 45px;
}

.modal-content button {
  background-color: var(--accent-color);
  color: white;
  padding: calc(var(--spacing-unit) * 1.5);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.modal-content button:hover {
  background-color: var(--primary-color);
}

.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #editItemModal form > div {
    width: 100%;
  }
}