* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e74c3c;
    --secondary-color: #c0392b;
    --accent-color: #f1948a;
    --background-color: #fdf2f2;
    --text-color: #2c2c2c;

    --font-family: "Poppins", sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 15px;
    max-height: 60px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.head h1 {
    color: var(--background-color);
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 0;
    margin: 0;
}

.head ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.head a {
    color: var(--background-color);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.1s linear;
}

.head a:hover {
    border: 2px;
    box-shadow: 0 0 8px rgb(255, 255, 255, 0.5);
}

main {
    padding: 5px;
    background-color: var(--accent-color);
    height: calc(100dvh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main #body {
    width: 1200px;
    background-color: var(--background-color);
    height: 720px;
    box-shadow: var(--box-shadow);
    display: flex;
    gap: 5px;
}

main #essentials {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: stretch;
    gap: 10px;
    padding: 5px;
}

main #essentials div {
    background-color: var(--secondary-color);
    height: 350px;
    width: 250px;
}

main #hero {
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 690px;
}

#hero .history {
    height: 720px;
    background-color: black;
    width: 690px;
    display: block;
}

main #data {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: stretch;
    gap: 10px;
    padding: 5px;
}

main #date div {
    background-color: var(--secondary-color);
    height: 230px;
    width: 250px;
}