* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e74c3c;
    --secondary-color: #c0392b;
    --accent-color: #f1948a;
    --background-color: #fdf2f2;
    --text-color: #2c2c2c;

    --font-family: "Poppins", sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
}

body {
    background-color: #e2d9d9;
}

img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 15px;
    max-height: 60px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.head h1 {
    color: var(--background-color);
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 0;
    margin: 0;
}

.head ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.head a {
    color: var(--background-color);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px;
    transition: all 0.1s linear;
}

.head a:hover {
    border: 2px;
    box-shadow: 0 0 8px rgb(255, 255, 255, 0.5);
}

main {
    padding: 10px;
    display: flex;
    width: 1200px;
    margin: auto;
    gap: 20px;
}

main .rooms {
    width: 350px;
    height: 250px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: var(--border-radius);
    font-family: var(--font-family);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .rooms .title {
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .rooms .desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--background-color);
}

.title h1 {
    font-weight: 400;
    font-size: 24px;
}

.title button {
    background-color: none;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--primary-color);
    font-weight: 300;
    cursor: pointer;
}

.desc button {
    background-color: none;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--primary-color);
    font-weight: 800;
    cursor: pointer;
}